<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- name comes from the spread of data in the subreddit res.render(). See index.js. -->
    <!-- Change title from dynamic "name" to fix error. -->
    <title>My Site</title>
    <!-- Now we will refer to the public folder static assets. -->
    <!-- Instead of linking to a file we will be linking to the entire contents of that public directory. Since it is referenced in index.js we do not need to reference "/public/app.css". -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>