<%- include("partials/head") %>
  <%- include("partials/navbar") %>
    <h1>All the Cats</h1>
    <!-- Create markup for all the cats in the cats array. -->
    <ul>
      <% for (let cat of cats) { %>
      <li><%= cat %></li>
      <% } %>
    </ul>
  <%- include("partials/footer") %>
