<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- Whatever is put in between the EJS <%=  %> tag is treated like JS -->
    <h1>The Home Page</h1>
    <h2><%= "Hello World".toUpperCase(); %></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eius
      praesentium ut quae non est accusantium error assumenda perspiciatis
      accusamus excepturi vero, inventore consequatur deserunt qui distinctio
      omnis nobis odio?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
      adipisci nisi iste rem animi quas commodi, aliquid vero deserunt ad,
      consequatur quis? Rem porro quod, earum voluptas aliquid mollitia tenetur.
    </p>
  </body>
</html>
