<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random</title>
  </head>
  <body>
    <!-- It is better to limit the logic in the HTML file so a lot of this can be passed in from the index.js. -->
    <!-- * 10 does up to number 10 and + 1 shifts it up one. -->
    <!-- ? <h1>Your random number is: <%= Math.floor(Math.random() * 10) + 1 %></h1> -->
    <h1>Your random number is: <%= num %></h1>
  </body>
</html>
